.navbar-fixed {
    z-index: 1;
}

nav.top-nav {
    height: 60px;
    box-shadow: none;
    border-bottom: 1px solid rgba(0,0,0,0.14);
    background-color: #0c8e8efa;
}

header {
    padding-left: 300px;
}

a.sidenav-trigger.top-nav {
    position: fixed;
    height: 48px;
    width: 48px;
    top: 0px;
    float: none;
    margin-left: 0px;
    color: #fff;
    font-size: 36px;
    z-index: 2;
}

ul.sidenav.sidenav-fixed li.logo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 5px; /* Do I need to change it ? */
}

ul.sidenav.sidenav-fixed li.active {
    background-color: #4accbf8a;
}

main {
    padding-left: 300px;
}

.read-more {
    margin-top: 15px;
}

.read-more span {
    cursor: pointer;
    color: #26a69a;
}

/* Tabs */
.tabs .tab a:hover,
.tabs .tab a.active,
.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: #4accbf38;
    color: #119090;
}

.tabs .tab a {
    color: #000;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0px;
    font-size: 14px;
}

.tabs .indicator {
    background-color: #1ad2d2;
}

.transp-blue {
    background-color: #2196f33d;
}
.transp-red {
    background-color: #f443362b;
}
.transp-green {
    background-color: #4caf502e;
}
.transp-yellow {
    background-color: #ffeb3b2b;
}
.transp-cyan {
    background-color: #00bcd42e;
}
.transp-orange {
    background-color: #ff980030;
}
.form-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
  }


@media only screen and (max-width: 992px) {
    header {
        padding-left: 0px;
    }

    nav .nav-wrapper {
        text-align: center;
    }

    main {
        padding-left: 0px;
    }
}
