.navbar-fixed {
    z-index: 1;
}

nav.top-nav {
    height: 60px;
    box-shadow: none;
    border-bottom: 1px solid rgba(0,0,0,0.14);
    background-color: #0c8e8efa;
}

header {
    padding-left: 300px;
}

a.sidenav-trigger.top-nav {
    position: fixed;
    height: 48px;
    width: 48px;
    top: 0px;
    float: none;
    margin-left: 0px;
    color: #fff;
    font-size: 36px;
    z-index: 2;
}

ul.sidenav.sidenav-fixed li.active {
    background-color: #4accbf8a;
}

ul.sidenav.sidenav-fixed ul.collapsible li a.collapsible-header {
    padding: 0 32px;
}

ul.sidenav.sidenav-fixed ul.collapsible li div.collapsible-body li a {
    padding: 0 50px;
}

main {
    padding-left: 300px;
}

.read-more {
    margin-top: 15px;
}

.read-more span {
    cursor: pointer;
    color: #26a69a;
}

/* Tabs */
.tabs .tab a:hover,
.tabs .tab a.active,
.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: #4accbf38;
    color: #119090;
}

.tabs .tab a {
    color: #000;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0px;
    font-size: 14px;
}

.tabs .indicator {
    background-color: #1ad2d2;
}

.transp-blue {
    background-color: #2196f33d;
}

.transp-red {
    background-color: #f443362b;
}

.transp-green {
    background-color: #4caf502e;
}

.transp-yellow {
    background-color: #ffeb3b2b;
}

.transp-cyan {
    background-color: #00bcd42e;
}

.transp-orange {
    background-color: #ff980030;
}

.form-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
 }

 .box {
     border-radius: 10px 10px 0 0;
     margin: 0px 0px 20px 0px !important;
 }

 .box-default {
     border: 1px solid #8080807a;
 }

 .box-danger {
     border: 1px solid #ff00007d;
 }

 .box-header {
     margin: 0;
     padding: 15px 0;
     border-radius: 10px 10px 0 0;
 }

 .box-header-default {
     background-color: #8080807a;
 }

 .box-header-danger {
     background-color: #ff00007d;
 }

 /* BEGIN: STYLES FOR POST-IT */
 .quote-container {
     margin-top: 50px;
     position: relative;
     min-width: 300px;
     -webkit-transform: rotate(2deg);
     -moz-transform: rotate(2deg);
     -o-transform: rotate(2deg);
     -ms-transform: rotate(2deg);
     transform: rotate(2deg);
 }

 blockquote.note {
     color: #333;
     position: relative;
     /* width: 300px; */
     margin: 0 auto;
     padding: 20px;
     /* font-family: Satisfy; */
     font-size: 10px;
     box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
 }

 blockquote.note .author {
     display: block;
     margin: 40px 0 0 0;
     text-align: right;
 }

 blockquote.note.yellow {
     background: #eae672 !important;
 }

 .pin {
     background-color: #aaa;
     display: block;
     height: 32px;
     width: 2px;
     position: absolute;
     left: 50%;
     top: -16px;
     z-index: 1;
 }

 .pin:after {
     background-color: #A31;
     background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
     border-radius: 50%;
     box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
           inset 3px 3px 3px hsla(0,0%,100%,.2),
           inset -3px -3px 3px hsla(0,0%,0%,.2),
           23px 20px 3px hsla(0,0%,0%,.15);
     content: '';
     height: 12px;
     left: -5px;
     position: absolute;
     top: -10px;
     width: 12px;
 }

 .pin:before {
     background-color: hsla(0,0%,0%,0.1);
     box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
     content: '';

     height: 24px;
     width: 2px;
     left: 0;
     position: absolute;
     top: 8px;

     transform: rotate(57.5deg);
     -moz-transform: rotate(57.5deg);
     -webkit-transform: rotate(57.5deg);
     -o-transform: rotate(57.5deg);
     -ms-transform: rotate(57.5deg);

     transform-origin: 50% 100%;
     -moz-transform-origin: 50% 100%;
     -webkit-transform-origin: 50% 100%;
     -ms-transform-origin: 50% 100%;
     -o-transform-origin: 50% 100%;
 }

 .note .chip {
     color: #000;
 }

 .note .chip-img {
     color: #fff;
     background-color: #0c8e8efa;
 }

 .note-header {
    /* color: #ff0c00; */
    background-color: #0c8e8ea1;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 7px;
    font-weight: bold;
 }
  /* END: STYLES FOR POST-IT */

@media only screen and (max-width: 992px) {
    header {
        padding-left: 0px;
    }

    nav .nav-wrapper {
        text-align: center;
    }

    main {
        padding-left: 0px;
    }
}
